.form_container {
    padding: 15px;
}

.form_fieldset {
    padding: 10px;
    background-color: rgb(6, 156, 237);
    background-color: rgb(6, 156, 237);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    border: none;
    width: 100%;
}

.form_legend {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.section_container {
    width: 100%;
    display: grid;
    padding: 10px;
    gap: 10px;
    grid-template-areas:
        'titulo      categoria .'
        'descripcion fecha prioridad';
}

.input_titulo_container {
    grid-area: titulo;
}

.input_categoria_container {
    grid-area: categoria;
}

.input_descripcion_container {
    grid-area: descripcion;
}

.input_fecha_container {
    grid-area: fecha;
}

.input_prioridad_container {
    grid-area: prioridad;
    color: white;
}

.input_titulo_container input,
.input_categoria_container input,
.input_descripcion_container input,
.input_fecha_container input,
.input_prioridad_container input {
  outline: none;
  border: none;
  padding: 5px;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
}

.input_titulo_container input::placeholder,
.input_categoria_container input::placeholder,
.input_descripcion_container input::placeholder,
.input_fecha_container input::placeholder,
.input_prioridad_container input::placeholder {
  color: white;
}

.input_titulo_container input:focus,
.input_categoria_container input:focus
.input_descripcion_container input:focus,
.input_fecha_container input:focus,
.input_prioridad_container input:focus {
  border-bottom-color: blue;
  border-bottom-width: 2px;
}

.input_form_submit {
    font-size: 12px;
    width: 100px;
    padding: 5px;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

