.navbar_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fondo_NavBar);
    padding: 10px;
}

.navbar_title {
    text-transform: capitalize;
    color: var(--blanco);
    font-weight: bold;
}