.todos_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-width: 600px;
    color: white;
}

.todo_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(6, 156, 237);
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.todo_subcontainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 50px;
}

.todo_buttons {
    position: absolute;
    display: flex;
    gap: 20px;
    top: 30px;
    right: 10px;
}

.todo_title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.todo_container p {
    font-size: 15px;
}

.todo_icon_delete {
    color: white;
    background-color: red;
    padding: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
}

.todo_icon_edit {
    color: white;
    background-color: blue;
    padding: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;

}