.todos_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-width: 200px;
    max-width: 400px;
    color: var(--blanco);
    margin-top: 20px;
    margin-bottom: 20px;
}

.task_completed {
    background-color: var(--gris);
}

.task_completed h1, 
.task_completed p {
    text-decoration: line-through;
    color: var(--negro);
}

.task_uncompleted {
    background-color: var(--fondo_task);
}


.todo_container {
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 20px 0px var(--negro);
    gap: 20px;
}

.todo_subcontainer {
    display: flex;
    gap: 20px;
}

.todo_buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.todo_button {
    outline: none;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10%;
    color: white;
}

.todo_button:hover {
    cursor: pointer;
}

.todo_title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.todo_container p {
    font-size: 15px;
}

.todo_input {
    width: 25px;
}
